html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.jogoh4{
  color: rgb(170, 83, 251);
}

.botaoprincipal{
  background-color: blueviolet;
  color: white;
}
.botaoeditar{
  background-color: rgb(0, 255, 213);
  color: rgb(121, 121, 121);
}
.botaodetalhes{
  background-color: rgb(166, 0, 133);
  color: white;
}
.botaodeletar{
  background-color: red;
  color: white;
}
